body
{
    margin:0px;
    padding:0px;

font-size: 100%;
font-style: normal;
font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
text-rendering: optimizelegibility;
}
  
.sticky
{
    background-color:rgb(52, 100, 235);
    
    color:white;
    padding:10px;
    text-align: center;
    position: sticky;
    top:0;
}
.sticky:hover{
    background-color: rgb(0,42,92);
} 

.sticky a{ 
color: white;
text-decoration: none;
}


.nav1
{
    padding: 5px;
    background-color: rgb(20,18,51);
   
}
.nav1 ul{
    list-style: none;
}
.nav1 li{
    display:inline;
    padding:15px 15px;
}
.nav1 a{
    color:white;
    text-decoration: none;
    

}

.b2 h4
{
    display:inline;
    font-size: 30px;
   
color:white
}  
.b3
{
    display: inline;
    width:40px;
    height:30px;
    margin: 0px;
    padding:0px 0px 0px 230px;
}

.b1{
    height: 30px;
}
.b1 :hover
{
background-color: rgba(148, 142, 142, 0.185);
padding: 5px;
border-radius: 2px;
transition-delay:2sec;
}
button{
    width: 80px;
    height: 40px;
    font-size: medium;
}
.login
{
    color: white;
    background-color:black;
    border:1px solid white;
    border-radius: 5px;
    padding:2px;

}
.search
{
    border: 1px solid black;
    border-radius: 25px;
    background-color:rgb(37, 36, 36);
    width: 25px;
    height:25px;
    padding: 7px 7px;
    overflow: hidden;
    }

.search :hover{
        
            background-color: rgba(41, 39, 39, 0.25);
    }
 .b4
    {
       margin-left: 270px;
    }

    .cont
    {width: 100%;
        height: 633px;
        background-image: url('https://www.blockchain.com/static/img/home/home-hero-gradient.svg');
        background-size:cover;
       
    }
    .cont .head1

    {
width: 693px;
height: 293.917px;
position: relative;
top: 150px;
left:440px;


    }
    .cont .head2
    {
        width:693px;
        height: 116px;
        margin-bottom: 20px;
    }

.head2 h1
 {
color: white;
margin:0px;
width:693px;
   height: 116px;
   font-size:48px;

  
}
    .cont .head3
    {
        width:693px;
        height: 68px;
        margin-bottom: 30px;
    }
    .head3 h1{
        color: white;
        margin:0px;
        width:693px;
        height: 68px;
        font-size: 20px;
    }
    .cont .head4
    {
        width:693px;
        height: 59.917px;
      
    }
    .head4 .gets
    {
        background-color: rgb(24, 102, 219);
        color: white;
        width:160px;
        height:50px;
        border:1px solid rgb(24, 102, 219);
        border-radius: 10px;
        font-size:19px;
    }
  .gets:hover
{
background-color:rgb(42, 66, 202);
border:1px solid rgb(42, 66, 202);
}
.head4 .gets2
{width:100px;
    height:50px;
    font-size:19px;
    border-radius: 10px;
    margin-left: 20px;
}
.mnbdy
{
    width:1908px;
    height:1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.mnbdy1
{
    width:1280px;
    height:840px;
    position: relative;
    right:-330px;
    border:1px solid rgb(239, 236, 254);
    background-color:  rgb(247, 245, 255);
    border-radius: 20px;
  
   
}
.mnbdy11
{
    float: left;
    width:500px;
    height:700px;
  padding:70px 0px 70px 140px;

}
.mnbdy12
{

    height:32px;
    width: 95px;
    padding:16px 16px;
    margin-bottom: 20px;
    color: rgb(115, 73, 242);
    font-size: large;
    text-align:top;
    background-color: rgb(239, 236, 254);
    border:1px solid rgb(239, 236, 254);
    border-radius: 20px;
}
.wallet
{
    width:50px;
    height:42px;
    
    display: inline;
}
.mnbdy13
 {
    width: 500px;
    height:104px;
    margin-bottom:30px;
 }
.mnbdy13 h1{
    font-size: 43px;
    font-weight: 600;
    color: rgb(115, 73, 242);
}
.mnbdy14
{
    width: 488px;
    height: 394px;
    margin-bottom: 30px;
}
.mnbdy15
{
    width: 486px;
    height: 112px;
border:1px solid rgb(132, 99, 230);
background-color: rgb(239, 236, 254);
border-radius: 10px;
margin-bottom: 12px;
}
.mnbdy16
{
width:486px;
height:56px;
border:1px solid rgb(132, 99, 230);

border-radius: 10px;
margin-bottom: 12px;

}
.mnbdy17
{
width: 446px;
height:24px;
padding:16px 20px 0px 20px;
color: rgb(115, 73, 242);
}
.mnbdy18
{
width:348px;
height:48px;
padding: 8px 20px 16px 20px;
color: rgb(115, 73, 242);
}
.mnbdy19
{
    width:446px;
    height:24px;
    padding:16px 20px;
    color: rgb(115, 73, 242);
}
.mnbdy11 button

{
    background-color: rgb(83, 34, 229);
    width:150px;
    height:50px;
    border-radius: 10px;
    color:white;
}
.mnbdy101
{
    float:right;
    width: 640px;
    height: 840px;
   background-image: url("https://www.blockchain.com/static/img/home/home-wallet-shapes-bg.png");
   background-repeat: no-repeat;
   /* display: flex; */
   /* justify-content:space-around; */
}
.mnbdy101 img
{
    padding-left: 30px;
}
 


/* .mnbdy3

{
    width:1280px;
    height:200px;
    position: relative;
    right:-330px;
   
} */



.mnbdy4
{
    width:1280px;
    height:840px;
    position: relative;
    right:-330px;
    background-color: rgb(255, 248, 242);
   
}
.mnbdy401
{
    float:right;
    width: 640px;
    height: 840px;
   background-image: url("https://www.blockchain.com/static/img/home/home-explorer-shapes-bg.png");
   background-repeat: no-repeat;
   /* display: flex; */
   /* justify-content:space-around; */
}

.mnbdy43
 {
    width: 500px;
    height:104px;
    margin-bottom:30px;
 }
.mnbdy43 h1{
    font-size: 43px;
    font-weight: 600;
    color: rgb(242, 139, 36);
}
.mnbdy44
{
    width: 488px;
    height: 394px;
    margin-bottom: 30px;
}
.mnbdy45
{
    width: 486px;
    height: 112px;
border:1px solid rgb(132, 99, 230);
background-color: rgb(250, 228, 205);
border-radius: 10px;
margin-bottom: 12px;
}
.mnbdy46
{
width:486px;
height:56px;
border:1px solid rgb(250, 228, 205);

border-radius: 10px;
margin-bottom: 12px;

}
.mnbdy47
{
width: 446px;
height:24px;
padding:16px 20px 0px 20px;
color: rgb(242, 139, 36);
}
.mnbdy48
{
width:348px;
height:48px;
padding: 8px 20px 16px 20px;
color: rgb(242, 139, 36);
}
.mnbdy49
{
    width:446px;
    height:24px;
    padding:16px 20px;
    color: rgb(242, 139, 36);
}
.mnbdy41 button

{
    background-color: rgb(217, 103, 22);
    width:150px;
    height:50px;
    border-radius: 10px;
    color:white;
}
.mnbdy41
{
    float: left;
    width:500px;
    height:700px;
  padding:70px 0px 70px 140px;

}
.mnbdy42
{

    height:32px;
    width: 95px;
    padding:16px 16px;
    margin-bottom: 20px;
    color: rgb(242, 139, 36);
    font-size: large;
    text-align:top;
    background-color: rgb(255, 242, 229);
    border:1px solid rgb(250, 228, 205);
    border-radius: 20px;
}



.container7
{
  background-color: rgb(18,29,51);  
  background-image: url("https://www.blockchain.com/static/img/banner/banner-bg.svg");
}
.container7 .inner_c7
{
    padding: 30PX;
    display: flex;
    margin: 20px;
    /* flex-direction: column;
    align-items: center; */
}
.container7 .inner_c7 h1{
    color:white;

}
.container7 .inner_c7 button{
    color:rgb(18, 109, 247)
}

.links{
   
    padding: 35px;
 }
 .inner-links{
    max-width: 1100px;
    margin: 0 auto ;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-gap: 70px;
    justify-content: center;
 }
 .inner-links ul{
    list-style: none;
 }
 .inner-links ul.list li{
    color:grey;
    line-height: 40px;;

 }
 .inner-links ul.list li h1{
    color:black;
    font-size: medium;
 }
